body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #FCFFE7;

}

.container {
    margin: auto;
    text-align: center;
    width: 90%;
    max-width: 900px;
    height: 80%;
    background-color: #BAD7E9;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2B3467;
    margin-bottom: 20px;
}

#input_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

#task_input {
    flex: 1;
    margin-right: 1%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #1935d2;
    border-radius: 5px;
    font-weight: bold;
}

#add_button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a881af;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
}

#add_button:hover {
    background-color: #80669d;
}



#task_list {
    list-style-type: none;
    padding: 0;
    display: none;
}

li {

    background-color: #FFF;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* color: aqua; */
}

.task_container {
    margin-bottom: 10px;
}

.edit_button {
    background-color: blue;
    border-color: darkblue;
    border-width: 3px;
    margin-right: 5px;
    margin-left: 20px;
}

button:hover {
    filter: brightness(0.8);
}

.edit_button:hover,
.edit_subtask_button:hover {
    background-color: darkblue;
}

.edit_subtask_button {
    font-size: 13px;
    background-color: blue;
    margin-right: 5px;
}

.delete_button {
    background-color: red;
    border-color: darkred;
    border-width: 3px;
}

.delete_subtask_button {
    font-size: 13px;
    color: white;
    background-color: red;
}

.add_subtask_button {
    font-size: 13px;
    margin-left: 5px;
}

.delete_button:hover,
.delete_subtask_button:hover {
    background-color: darkred;
}

button {
    padding: 3px 6px;
    font-size: 14px;
    color: white;
    background-color: rgba(3, 108, 82, 0.623);
    cursor: pointer;
    border-radius: 5px;
}

#show_button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;


}



.info_button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: rgba(3, 108, 82, 0.623);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 20px;
}

#filter_button {
    font-size: 14px;
    color: white;
    background-color: rgba(3, 108, 82, 0.623);
    cursor: pointer;
    border-radius: 5px;
}



.save_button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
}

.save_button:hover {
    background-color: darkgreen;
}

.task_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    color: #522222;
    font-weight: 200;
}

.task_info select,
.task_info input {
    background-color: #f3f7fb;
}

.category_container {
    margin: 0 5px;
}

.filter_tasks {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date_container {
    display: felx;
}

.subtask_element {
    padding: 2%;
    background-color: #c6e9cd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subtask_element input[type="checkbox"] {
    margin-right: 10px;
}

.subtask_element button {
    margin-left: auto;
}

.subtask_element input[type="text"] {
    flex: 1;
}

.subtask_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgb(205, 217, 217);
}

.search_options {
    margin: 2%;
}

.subtask_list_container {
    flex-grow: 1;
    padding: 5px 15px;
    overflow-y: auto;
    height: 90px;
    /* background-color: azure; */
    margin-top: 10px;
}

li .task_content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    /* Adjust this value to fit your design */
    display: inline-block;
    font-weight: bold;
}

li:hover .task_content {
    overflow: auto;
}

.subtask_element {
    margin-bottom: 5px;
}

.subtask_input_box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subtask_input {
    width: 50%;
    font-size: 14px;
}

.completed {
    text-decoration: line-through;
}